@import "../../node_modules/normalize.css/normalize.css";
$bg: #5CFFED;
$fg: #FF8F5C;
$wave: #1DB2A2;
$media-xs: "(max-width: 549px)";
$media-sm: "(min-width: 550px) and (max-width: 749px)";
$media-md: "(min-width: 750px) and (max-width: 999px)";
$media-lg: "(min-width: 1000px) and (max-width: 1199px)";
$media-xl: "(min-width: 1200px)";
$img-xs-width: 340px;
$img-xs-height: 163px;
$img-sm-width: 500px;
$img-sm-height: 240px;
$img-md-width: 600px;
$img-md-height: 288px;
$img-lg-width: 800px;
$img-lg-height: 385px;
$img-xl-width: 1024px;
$img-xl-height: 492px;
$icon-size: 40px;
$animation-time: 0.32s;
$wave-size: 20%;
$wave-min-size: 120px;
$wave-rows: 5;
$wave-left: -5%;
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin media($media) {
  @if $media == "xs" {
    @media #{$media-xs} {
      @content;
    }
  } @else
  if $media == "sm" {
    @media #{$media-sm} {
      @content;
    }
  } @else
  if $media == "md" {
    @media #{$media-md} {
      @content;
    }
  } @else
  if $media == "lg" {
    @media #{$media-lg} {
      @content;
    }
  } @else
  if $media == "xl" {
    @media #{$media-xl} {
      @content;
    }
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg;
  color: $fg;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.frame {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: $img-xl-width;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;
  @include transition(width $animation-time, max-width $animation-time);

  &-helper {
    position: relative;
    display: inline-block;
    height: calc(50% - (#{$img-xl-height/2 + $icon-size + (($wave-rows - 1)*($wave-min-size/2))/2}));
    vertical-align: middle;
    z-index: 1000;
    @include transition(height $animation-time);
  }
}

.logo {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: $img-xl-width;
  max-height: $img-xl-height;
  vertical-align: middle;
  z-index: 1000;
  @include transition(width $animation-time, height $animation-time, max-width $animation-time, max-height $animation-time);
}
@mixin responsive-frame($media-size, $img-width, $img-height) {
  @include media($media-size) {
    .frame {
      max-width: $img-width;

      &-helper {
        height: calc(50% - (#{$img-height/2 + $icon-size + (($wave-rows - 1)*($wave-min-size/2))/2}));
      }
    }

    .logo {
      max-width: $img-width;
      max-height: $img-height;
    }
  }
}
@include responsive-frame("xs", $img-xs-width, $img-xs-height);
@include responsive-frame("sm", $img-sm-width, $img-sm-height);
@include responsive-frame("md", $img-md-width, $img-md-height);
@include responsive-frame("lg", $img-lg-width, $img-lg-height);
@include responsive-frame("xl", $img-xl-width, $img-xl-height);

.social-media {
  position: relative;
  display: block;
  margin: #{$icon-size/2} auto;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 1000;
  @include transition(font-size $animation-time);
  @include media("xs") {
    font-size: 0.5em;
  }

  a {
    display: inline-block;
    padding: 0 12px;
    color: $fg;
    @include transition(color $animation-time);

    &:active,
    &:focus,
    &:hover {
      color: darken($fg, 6%);
    }
  }
}

.waves {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  .wave {
    position: relative;
    display: inline-block;
    width: $wave-size;
    height: $wave-size;
    min-width: $wave-min-size;
    min-height: $wave-min-size;
    border-radius: 0 0 50% 50%;
    border: 0;
    margin: 0 -2px;
  }

  .row {
    position: absolute;
    left: $wave-left;
    width: 120%;
    padding: 0 2px;
    animation: slidein 2.5s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
    @mixin wave-row($selector, $offset, $animation-time, $z-index, $color) {
      &.#{$selector} {
        top: calc(100% - ((#{$wave-rows} - #{$offset}) * #{$wave-min-size/2}));
        animation: slidein $animation-time infinite alternate;
        z-index: $z-index;

        .wave {
          background-color: $color;
        }
      }
    }
    @include wave-row("one", 0, 2.8s, -1, $bg);
    @include wave-row("two", 1, 3.5s, -2, lighten($wave, 6%));
    @include wave-row("three", 2, 2.1s, -3, $wave);
    @include wave-row("four", 3, 4.2s, -4, darken($wave, 6%));
    @include wave-row("five", 4, 1.4s, -5, darken($wave, 12%));
  }
  @keyframes slidein {
    from {
      margin-left: $wave-left;
    }

    to {
      margin-left: 0;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;

  small {
    display: block;
    font-size: 0.75em;
    color: #fff;
    opacity: 0.6;

    a {
      color: $bg;
      @include transition(color $animation-time);

      &:active,
      &:focus,
      &:hover {
        color: darken($bg, 6%);
      }
    }
  }
}
