@import url(../../node_modules/normalize.css/normalize.css);
html {
  font-size: 62.5%; }

body {
  background-color: #5CFFED;
  color: #FF8F5C;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body,
html {
  width: 100%;
  height: 100%;
  min-height: 100%; }

.frame {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
  z-index: 1000; }
  .frame-helper {
    position: relative;
    display: inline-block;
    height: calc(50% - (406px));
    vertical-align: middle;
    z-index: 1000; }

.logo {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1024px;
  max-height: 492px;
  vertical-align: middle;
  z-index: 1000;
  -moz-transition: width 0.32s, height 0.32s, max-width 0.32s, max-height 0.32s;
  -o-transition: width 0.32s, height 0.32s, max-width 0.32s, max-height 0.32s;
  -webkit-transition: width 0.32s, height 0.32s, max-width 0.32s, max-height 0.32s;
  transition: width 0.32s, height 0.32s, max-width 0.32s, max-height 0.32s; }

@media (max-width: 549px) {
  .frame {
    max-width: 340px; }
    .frame-helper {
      height: calc(50% - (241.5px)); }

  .logo {
    max-width: 340px;
    max-height: 163px; } }
@media (min-width: 550px) and (max-width: 749px) {
  .frame {
    max-width: 500px; }
    .frame-helper {
      height: calc(50% - (280px)); }

  .logo {
    max-width: 500px;
    max-height: 240px; } }
@media (min-width: 750px) and (max-width: 999px) {
  .frame {
    max-width: 600px; }
    .frame-helper {
      height: calc(50% - (304px)); }

  .logo {
    max-width: 600px;
    max-height: 288px; } }
@media (min-width: 1000px) and (max-width 1199px) {
  .frame {
    max-width: 800px; }
    .frame-helper {
      height: calc(50% - (352.5px)); }

  .logo {
    max-width: 800px;
    max-height: 385px; } }
@media (min-width: 1200px) {
  .frame {
    max-width: 1024px; }
    .frame-helper {
      height: calc(50% - (406px)); }

  .logo {
    max-width: 1024px;
    max-height: 492px; } }
.social-media {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 1000;
  -moz-transition: font-size 0.32s;
  -o-transition: font-size 0.32s;
  -webkit-transition: font-size 0.32s;
  transition: font-size 0.32s; }
  @media (max-width: 549px) {
    .social-media {
      font-size: 0.5em; } }
  .social-media a {
    display: inline-block;
    padding: 0 12px;
    color: #FF8F5C;
    -moz-transition: color 0.32s;
    -o-transition: color 0.32s;
    -webkit-transition: color 0.32s;
    transition: color 0.32s; }
    .social-media a:active, .social-media a:focus, .social-media a:hover {
      color: #ff7a3d; }

.waves {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; }
  .waves .wave {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 20%;
    min-width: 120px;
    min-height: 120px;
    border-radius: 0 0 50% 50%;
    border: 0;
    margin: 0 -2px; }
  .waves .row {
    position: absolute;
    left: -5%;
    width: 120%;
    padding: 0 2px;
    animation: slidein 2.5s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0; }
    .waves .row.one {
      top: calc(100% - ((5 - 0) * 60px));
      animation: slidein 2.8s infinite alternate;
      z-index: -1; }
      .waves .row.one .wave {
        background-color: #5CFFED; }
    .waves .row.two {
      top: calc(100% - ((5 - 1) * 60px));
      animation: slidein 3.5s infinite alternate;
      z-index: -2; }
      .waves .row.two .wave {
        background-color: #21ccba; }
    .waves .row.three {
      top: calc(100% - ((5 - 2) * 60px));
      animation: slidein 2.1s infinite alternate;
      z-index: -3; }
      .waves .row.three .wave {
        background-color: #1DB2A2; }
    .waves .row.four {
      top: calc(100% - ((5 - 3) * 60px));
      animation: slidein 4.2s infinite alternate;
      z-index: -4; }
      .waves .row.four .wave {
        background-color: #19988a; }
    .waves .row.five {
      top: calc(100% - ((5 - 4) * 60px));
      animation: slidein 1.4s infinite alternate;
      z-index: -5; }
      .waves .row.five .wave {
        background-color: #147d72; }

@keyframes slidein {
  from {
    margin-left: -5%; }
  to {
    margin-left: 0; } }

/*# sourceMappingURL=styles.css.map */
